body{
  background-image:url("../img/LOGO_LARGE.png");
  background-size: auto;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 130% -10%;
}
.nav-item {
  width: 200px;
  /*width: auto;*/
  padding: 2px;
}

.btn.btn-primary {
  width: 300px;
  height: 50px;
  margin-left: 6vw;
  margin-right: 6vw;

}

#logo{
  align-self: center;
  width: 600px;
  height: 600px;
} 

.short_cuts_inicio{
  display:block;
  justify-content:center;

}