

/* MENSAJE DE ERROR O CORRECTO */
.formulario__input-error {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
    text-align: center;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}