
/*BOTONES PRA FOMULARIOS - BTN PRIMARY*/
.btn-outline-primary {
    color: #57638f;
    background-color: transparent;
    background-image: none;
    border-color: #57638f;
    border-radius: 5px;
    padding-left: 40%;
    padding-right: 40%;
    margin-left: 10px;
    margin-right:10px;
}

.btn-outline-primary:hover {
    color: white;
    background-color:#98bd9c;
    border-color: #98bd9c;
}